html {
  background: #262628;
  color: #bbb;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  background: rgba(78, 112, 86, 0.0);
}

header {
  position: absolute;
  display: block;
  top: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 0;
  font-family: monospace;
  font-size: .86em;
  line-height: .94em;
  color: #b6b6b664;
}

#separator {
  position: absolute;
  display: block;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 92%;
  height: .2em;
  background: #aaa;
  color: #aaa;
  opacity: .34;
}

#div-text {
  position: absolute;
  display: block;
  top: 1.28em;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 51.4%;
  margin: -.68em 0 .2em 0;
  padding: 0 0 0 6px;
  font-family: sans-serif;
  font-size: 1.2em;
  color: #bcbcbce0;
  overflow-y: scroll;
  Background: #0c818c00;
}


[id*="txtP-"] {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 .88em 0 .88em;
  margin: .6em 0. .6em 0;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.06em;
  line-height: 1.58em;
  color: #c4c4c4ec;
}

#div-dynamicBtns {
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 46.66%;
  top: 53.2%;
  padding: 0 0 0 6px;
  overflow: hidden;
  overflow-y: scroll;
  Background: #0c818c00;
}

[id*="btn-choice-"] {
  position: relative;
  width: 96%;
  text-align: center;
  font-size: 1.1em;
  font-family: sans-serif;
  margin: .18em;
  padding: .8em;
  color: #bababae0;
  background-color: rgba(10, 11, 11, 0.22);
  border-style: groove;
  border-color: #00000000;
  border-radius: 8px;
}

[id*="btn-choice-"]:hover {
  color: #c0c0c0f0;
  background-color: rgba(10, 11, 11, 0.28);
  border-radius: 12px;
}


@media only screen and (min-width: 768px) {
  header {
    top: .2em;
    font-size: 1.06em;
    line-height: 1.02em;
  }

  #div-text {
    padding-left: 14px;
  }

  [id*="txtP-"] {
    padding: 0em 8.8em .2em 8.8em;
    font-size: 1.18em;
  }

  #div-dynamicBtns {
    padding-left: 14px;
  }

  [id*="btn-choice-"] {
    width: 78%;
    margin-bottom: .88em;
    padding: 1.12em 1em 1.12em 1em;
    font-size: 1.24em;
  }

  ::-webkit-scrollbar {
    width: 14px;
    float: right;
    position: absolute;
  }
}


::-webkit-scrollbar {
  width: 6px;
  float: right;
  position: absolute;
}

::-webkit-scrollbar-track {
  background: #12121200;
  box-shadow: -4px 0 4px .2px #12121248 inset;
}

::-webkit-scrollbar-track:hover {
  background: #12121212;
  box-shadow: -4px 0 4px .48px #12121260 inset;
}

::-webkit-scrollbar-thumb {
  background: #444444a0;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4c4e4ea8;
}
