html {
  background: #222;
  color: #bbb;
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}


.alignItems {
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}


#dexNumSelector {
  border: none;
  padding: 0.24em;
  margin-top: 2.2em;
  margin-bottom: 1em;
  font-size: 1.1rem;
  font-weight: bold;
  background: #33333388;
  color: #ccc;
}

#primaryInfoContainer {
  width: 48%;
  margin: auto;
  margin-top: 0.88em;
  padding: 1.2em 0.2em 2em 0.2em;
  font-size: 2rem;
  background: #333;
}
